
  <div id="cookiesPopup" class="cookies-second">
    <div class="co-modal-content">
        <div class="co-mo-he">
            <h2>Ustawienia prywatności</h2>
            <h3>W każdej chwili możesz wybrać preferencje dotyczące plików cookie i śledzenia. Więcej informacji można znaleźć w oświadczeniu o plikach cookie.</h3>
        </div>
        <div class="co-mo-co">
            <div class="co-set">
                <div class="co-set-he">
                    <span class="co-text">Bezwzględnie konieczne pliki cookie</span>
                    <label class="switch">
                        <input type="checkbox" name="co-set-1" id="co-set-1" checked="checked" disabled="disabled">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="co-set-co">Są niezbędne w celu zapewnienia funkcjonowania witryny internetowej i nie można ich wyłączyć. Zazwyczaj są stosowane w odpowiedzi na podjęte przez użytkownika działania związane z żądaniem usług (ustawienie preferencji w zakresie prywatności użytkownika, logowanie, wypełnianie formularzy itp.). Można ustawić przeglądarkę, aby blokowała takie pliki cookie lub wyświetlała odpowiednie powiadomienia, jednak niektóre części witryny nie będą wówczas działały.</p>
            </div>
            <div class="co-set">
                <div class="co-set-he">
                    <span class="co-text">Akceptuję cookies analityczne</span>
                    <label class="switch">
                        <input type="checkbox" name="co-set-2" id="co-set-2">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="co-set-co">Umożliwiają nam liczenie odwiedzin i źródeł ruchu oraz pomiar i poprawę wydajności naszej witryny. Pokazują nam, które strony są najmniej i najbardziej popularne i w jaki sposób odwiedzający poruszają się po witrynie. Jeśli użytkownik nie zgodzi się na ich zastosowanie, nie będziemy wiedzieli, kiedy odwiedził naszą witrynę i nie będziemy w stanie monitorować jej wydajności.</p>
            </div>
            <div class="co-set">
                <div class="co-set-he">
                    <span class="co-text">Akceptuję cookies personalizujące</span>
                    <label class="switch">
                        <input type="checkbox" name="co-set-3" id="co-set-3">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="co-set-co">Służą do zwiększenia funkcjonalności witryny internetowej i personalizacji jej treści. Mogą być stosowane przez nas lub przez osoby trzecie, których usługi zostały dodane do naszych stron. Jeśli użytkownik nie zezwoli na ich zastosowanie, niektóre lub wszystkie z tych usług mogą nie działać poprawnie.</p>
            </div>
            <div class="co-set">
                <div class="co-set-he">
                    <span class="co-text">Akceptuję cookies targetujące</span>
                    <label class="switch">
                        <input type="checkbox" name="co-set-4" id="co-set-4">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="co-set-co">Mogą zostać użyte przez naszych partnerów reklamowych poprzez naszą witrynę w celu stworzenia profilu zainteresowań użytkownika i wyświetlania mu odpowiednich reklam na innych witrynach. Nie przechowują bezpośrednio danych osobowych, lecz pozwalają na jednoznaczną identyfikację przeglądarki i urządzenia internetowego użytkownika. W razie braku zgody na ich zastosowanie reklamy prezentowane użytkownikowi będą w mniejszym stopniu dostosowane do jego zainteresowań.</p>
            </div>
        </div>
        <div class="co-mo-fo">
            <div class="btn-wrapper co-btn">
              <div class="btn btn--small btn--bordered">
                <button type="submit" id="co-save-aa" name="co-save-aa" class="co-btn">Zaakceptuj wszystko</button>
              </div>
            </div>
            <div class="btn-wrapper co-btn">
              <div class="btn btn--small btn--bordered btn--negative">
                <button type="submit" id="co-save" name="co-save" class="co-btn">Zapisz ustawienia</button>
              </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div class="cookie-first" id="cookie-first">
    <div>
      <div><p class="co-text">Używamy cookies, aby zapewnić poprawne działanie strony, a także do zbierania statystyk i przedstawienia spersonalizowanych reklam.</p></div>
      <div class="co-settings"><a href="\#" class="co-open" id="co-open">Ustaw moje preferencje plików cookie</a></div>
    </div>
    <div>
      <p class="co-nav">
        <div class="btn-wrapper co-btn">
          <div class="btn btn--small btn--bordered">
            <a href="#" class="" id="co-accept">Zaakceptuj wszystkie</a>
          </div>
        </div>
      </p>
    </div>
</div>