<div class="section__images">
  <div class="img-wrapper img-wrapper--left">
      <img src="/resources/images/vespa-home-image.png" alt="skuter vespa"/>
  </div>
  <div class=" img-wrapper img-wrapper--right">
      <img src="/resources/images/instax-home-image.png" alt="aparat instax"/>
  </div>
</div>