
<section id="prizeSection">
  <div class="container">
    <div class="prizes-text">
      <p>GRAJ O NAGRODY,</p>
      <p>DZIĘKI KTÓRYM LATO NABIERZE SMAKU!</p>
    </div>
    <div class="prizes-wrapper">
      <div class="prizes-wrapper__item">
        <p>CODZIENNIE DO&nbsp;WYGRANIA</p>
        <p>14 APARATÓW</p>
        <p>INSTAX MINI 9</p>
        <p>Z 10 WKŁADAMI</p>
      </div>
      <div class="prizes-wrapper__item">
          <img src="/resources/images/instax-prize-image.png" alt="aparat instax"/>
      </div>
      <div class="prizes-wrapper__item">
        <img src="/resources/images/vespa-home-image.png" alt="skuter vespa"/>
      </div>
      <div class="prizes-wrapper__item">
        <p>NAGRODA GŁÓWNA</p>
        <p>VOUCHER NA</p>
        <p>SKUTER VESPA</p>
      </div>
    </div>
    <div class="lottery-info">
      <p>Każde zgłoszenie weźmie udział w losowaniu nagrody głównej.</p>
      <p>Losowanie nagrody głównej odbędzie się <strong>23.07.2019</strong>.</p>
    </div>
  </div>
</section>

<section id="howtoSection">
  <div class="container">
    <div class="howto-title">
      <p>JAK WZIĄĆ UDZIAŁ W&nbsp;LOTERII?</p>
    </div>
    <div class="rules-list">
      <div class="rules-list__item">
        <div class="step-icon">
          <img src="/resources/images/howto-icon-1.png" alt="kup actimel" />
          <div class="shadow-img delay-1">

          </div>
        </div>
        <div class="rules-text">
          <p>W dniach 03.06 - 21.07.2019 do&nbsp;godz. <strong>18:55</strong> kup dowolny Actimel i zachowaj paragon.</p>
          <span>1</span>
        </div>
      </div>
      <div class="rules-list__item">
        <div class="step-icon">
          <img src="/resources/images/howto-icon-2.png" alt="zgłoszenie" />
          <div class="shadow-img delay-2 ">

          </div>
        </div>
        <div class="rules-text">
          <p>Zgłoś swój udział w formularzu na stronie www.actimel.pl albo poprzez Messenger chatbot na facebook.com/actimelpolska.</p>
          <span>2</span>
        </div>
      </div>
      <div class="rules-list__item">
        <div class="step-icon">
          <img src="/resources/images/howto-icon-3.png" alt="losowanie" />
          <div class="shadow-img delay-3 ">

          </div>
        </div>
        <div class="rules-text">
          <p>W dniach 03.06 – 21.07.2019 
            w&nbsp;godz. <strong>10:00 - 19:00</strong> weź udział w losowaniu i sprawdź, czy&nbsp;jesteś zwycięzcą!</p>
          <span>3</span>
        </div>
      </div>
    </div>
    <div class="btn-wrapper">
      <div class="btn-rules">
        <a href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank">
          REGULAMIN LOTERII <span>›</span>
        </a>
      </div>
    </div>
  </div>
</section>