<section id="newFlavor" class="new-taste">
  <div class="container">
    <div class="newflavor-title">
      <p>Nadaj latu 
        więcej smaku!</p>
    </div>
    <div class="new-flavor-content">
      <div class="new-flavor-content__text">
        <div class="flavor">
          <img src="/resources/images/miod.png" alt="miód papaja propolis" />
        </div>
      </div>
      <div class="new-flavor-img">
        <img src="/resources/images/new-taste-image.png" alt="actimel nowy smak" />
      </div>
    </div>
    <div class="actimel-info">
      <p>
          <strong>Czy o odporność należy dbać tylko zimą? Nic bardziej mylnego!</strong> 
          Nadchodzi lato pełne wyzwań! Ciekawym uzupełnieniem letniej diety będzie super mix Actimela o&nbsp;smaku miodu, papai i&nbsp;propolisu. 
          W tej małej buteleczce zamknięto zarówno oryginalny smak, jak i 20 miliardów żywych kultur bakterii L. casei Danone, a&nbsp;także witaminy: B6 i&nbsp;D, które pomagają w&nbsp;prawidłowym funkcjonowaniu układu odpornościowego.
      </p>
    </div>
  </div>
</section>
<section id="video">
    <div class="btn-close-wrapper">
      <div class="btn-close close-video">
        <div class="btn-close__line"></div>
        <div class="btn-close__line"></div>
      </div>
    </div>
  <iframe src="https://www.youtube.com/embed/nmwVAyiNG64?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="container">
    <div class="play-video js-data-ga" data-ga-act="Kliknięcie w przycisk play" data-ga-cat="Video" data-ga-lab="true">
      <img src="/resources/images/video-play-btn-mobile.png" alt="odtwórz video" />
    </div>
  </div>
</section>