{% extends 'templates/base.html.twig' %}
{% block title 'Kontakt - ' ~ parent() %}

{% block body %}
<section id="section-contact" class="section section--fixed-bg section--width-1">
    {% include 'templates/page/parts/fixed-bg-images.html.twig' %}

    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="header">
          <h2>
            <span class="content">Kontakt </span>
            <span class="shadow shadow-red" aria-hidden="true">Kontakt</span>
          </h2>
        </div>

        <p class="normal">
          Masz pytania? Skontaktuj się z nami.<br>
          Chętnie pomożemy!
        </p>

        <div class="section__icon">
            <img src="/resources/images/icon-contact.svg" alt="kontakt" />
        </div>

        <div class="btn-wrapper">
          <div class="btn">
            <a href="mailto:loteria@loteria.actimel.pl" target="_blank">Wyślij nam email</a>
          </div>
        </div>

        <p class="normal">
          lub napisz do nas pocztą tradycyjną:<br><br>

          Young &amp; Rubicam Poland Sp. z o.o.<br>
          ul. Bonifraterska 17<br>
          00-203 Warszawa
        </p>

        <p class="subtext">
          Administratorem Twoich danych osobowych jest Danone Sp.&nbsp;z.o.o. z&nbsp;siedzibą w&nbsp;Warszawie (kod pocztowy 01-103), przy ul.&nbsp;Redutowej&nbsp;9/23. Szczegółowe informacje dotyczące przetwarzania danych znajdują się w <a href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank">Regulaminie loterii</a>.
        </p>
    </div>
</section>
{% endblock body %}
