{% extends "templates/base.html.twig" %}
{% block title 'Weź udział w loterii - ' ~ parent() %}

{% block body %}
<section class="form section section--fixed-bg">
    {% include 'templates/page/parts/fixed-bg-images.html.twig' %}

    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="main-text">
            <p class="shadow-blue">GRAJ W LETNIEJ LOTERII</p>
            <p>ACTIMELA</p>
        </div>
        <form>
          
            <div class="modal hide">
                <div class="modal-inner">
                    <div class="modal__box">
                        <div class="btn-close-wrapper">
                          <div class="btn-close close-modal">
                            <div class="btn-close__line"></div>
                            <div class="btn-close__line"></div>
                          </div>
                        </div>
                        <div class="receipt-wrapper">
                          <img src="/resources/images/receipt-image.png" alt="zdjęcie paragonu" />
                        </div>
                        <div class="info">
                          <p>
                            <span>Numer paragonu</span> z reguły znajduje się obok daty, najczęściej w prawym górnym rogu paragonu.
                          </p>
                        </div>
                        <div class="btn-wrapper">
                          <div class="btn">
                            <button class="close-modal">OK</button>
                          </div>
                        </div>
                      </div>
                </div>
              </div>

            <div class="form-info">
                <p>Wprowadź <strong>dane ze swojego paragonu</strong>  i&nbsp;weź udział w losowaniu</p>
            </div>

            <fieldset>
          
                <div class="already-registered hide">
                  <p>Taki paragon został już zarejestrowany. <br/>
                      Sprawdź czy wprowadziłeś poprawne dane.</p>
                </div>

              <div class="form__input-wrapper">
                <label for="email" >Adres e-mail</label>
                <input type="email" name="email" required autocomplete="on">
                <span class="placeholder">mariusz@gmail.com</span>
              </div>

              <div class="form__input-wrapper">
                <label for="receiptDate" >Data wydruku paragonu</label>
                <input type="text" auto-close="true" data-language="pl" class="datepicker-here" name="receiptDate" required autocomplete="off">
                <span class="placeholder">03-06-2019</span>
              </div>
          
              <div class="form__input-wrapper">
                <label for="receiptNo" >Numer wydruku paragonu</label>
                <div class="form__input-wrapper--codes">
                    <input type="text" name="receiptNo" required autocomplete="on">
                    <span class="placeholder placeholder--shorter">W42188</span>
                    <div class="icon-wrapper">
                        <img src="/resources/images/icon.svg" alt="znak zapytania" />
                    </div>
                </div>
              </div>

              <div class="form__input-wrapper ">
                <label for="cashNo" >Numer kasy</label>
                <div class="form__input-wrapper--codes">
                    <input type="text" name="cashNo" required autocomplete="on">
                    <span class="placeholder placeholder--shorter">E0B123321345</span>
                    <div class="icon-wrapper">
                        <img src="/resources/images/icon.svg" alt="znak zapytania" />
                    </div>
                </div>
              </div>

              <div class="disclaimer">
                <p>
                    Administratorem jest Danone Sp.&nbsp;z&nbsp;o.o. z siedzibą w Warszawie (01-103), 
                    ul.&nbsp;Redutowa&nbsp;9/23. Szczegółowe informacje dotyczące przetwarzania danych znajdują się w&nbsp;Regulaminie
                </p>
              </div>

              <div class="checkbox-wrapper">
                <div class="checkbox-wrapper--inner">
                    <div class="checkbox">
                        <input type="checkbox" name="agreement1" value="">
                        <span class="checkmark"></span>
                    </div>
                    <label>
                        Akceptuję <a  href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank">Regulamin loterii</a>.
                    </label>
                </div>
              </div>
                     
              <div class="form__btn-wrapper">
                <div class="btn">
                    <button href="#">WEŹ UDZIAŁ</button>
                </div>
              </div>

              <div class="go-back-link-wrapper">
                  <a href="/">
                    <img src="/resources/images/arrow-back-icon.svg"/>
                    <span>Wróć do strony głównej</span>
                  </a>
              </div>
          
            </fieldset> 
        </form>

        <div class="congrats hide">
            <div class="head-text">
                <p>GRATULACJE</p>
                <p class="shadow-blue">WYGRYWASZ INSTAXA MINI 9</p>
              </div>
              <div class="img-wrapper">
                <div class="img-wrapper__item">
                    <img src="/resources/images/instax-home-image.png" alt="aparat instax"/>
                </div>
              </div>
              <div class="instax-prize-info">
                <p>Lato właśnie nabrało nowego smaku!</p>
                <p>Uwieczniaj piękne chwile razem z Actimelem.</p>
              </div>
              <div class="prize-collect-info">
                <p>Aby odebrać nagrodę, kliknij poniżej - poprosimy Cię o dane adresowe niezbędne do wysyłki aparatu.</p>
              </div>
              <div class="btn-wrapper">
                <div class="btn">
                  <a id="collectPrize" class="js-data-ga" data-ga-act="Klikniecie Odbieram nagrode" data-ga-cat="Wynik losowania">ODBIERZ NAGRODĘ</a>
                </div>
              </div>
              <div class="lottery-date-info">
                <p>A już <strong>23 lipca 2019r.</strong></span> Twoje zgłoszenie weźmie udział w losowaniu nagrody głównej - vouchera na skuter Vespa!</p>
              </div>
        </div>


    </div>
      
  </section>

{% endblock body %}
