{% extends "templates/base.html.twig" %}
{% block title 'Loteria zakończona - ' ~ parent() %}

{% block head %}
  {% if app.request.cookies.get('prv')|slice(1, 1) == 1 %}
    <!--
    Event snippet for POLAND_DAIRY_ACTIMEL_K2Precise_FL_Loteria0619_Landing_page_views on https://loteria.actimel.pl: Please do not remove.
    Place this snippet on pages with events that you’re tracking. 
    Creation date: 05/16/2019
    -->
    <script>
      gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-8465986/loter0/polan0+standard'
      });
    </script>
    <noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=8465986;type=loter0;cat=polan0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt=""/>
    </noscript>
    <!-- End of event snippet: Please do not remove -->
  {% endif %}
{% endblock %}

{% block body %}
<section class="section lottery-finished try-again">
        <div class="container">
          {% include 'templates/page/parts/logo.html.twig' %}
            
          <div class="head-text--finished">
            <p class="shadow-blue">LETNIA LOTERIA</p>
            <p class="shadow-blue">ACTIMELA</p>
            <p>ZAKOŃCZYŁA SIĘ</p>
          </div>

          <div class="prizes-given">
            <p>Rozdaliśmy aż 686 aparatów Instax Mini 9 oraz&nbsp;nagrodę główną - voucher na&nbsp;skuter&nbsp;Vespa</p>
          </div>

          <div class="winners-congrats">
            <p>Jeszcze raz gratulujemy wszystkim&nbsp;zwycięzcom!</p>
          </div>
        </div>
      </section>
            
    {% include 'templates/page/parts/section-new-flavor.html.twig' %}

{% endblock body %}
