{% extends "templates/base.html.twig" %}
{% block title 'Loteria nierozpoczęta - ' ~ parent() %}

{% block head %}
  {% if app.request.cookies.get('prv')|slice(1, 1) == 1 %}
    <!--
    Event snippet for POLAND_DAIRY_ACTIMEL_K2Precise_FL_Loteria0619_Landing_page_views on https://loteria.actimel.pl: Please do not remove.
    Place this snippet on pages with events that you’re tracking. 
    Creation date: 05/16/2019
    -->
 
    <!-- End of event snippet: Please do not remove -->
  {% endif %}
{% endblock %}

{% block body %}
<section id="homeSection" class="section home-section lottery-unopened">
  <div class="container">
    {% include 'templates/page/parts/logo.html.twig' %}

    <div class="head-text">
      <p class="shadow-blue">KUP DOWOLNY ACTIMEL</p>
      <p class="shadow-blue">I WEŹ UDZIAŁ W</p>
      <p class="shadow-blue">WIELKIEJ LETNIEJ</p>
      <p>LOTERII</p>
    </div>
    <div class="actimel-imgs">
      <div class="actimel-imgs__item">
          <img src="/resources/images/vespa-home-image.png" alt="skuter vespa" />
      </div>
      <div class="actimel-imgs__item">
          <img src="/resources/images/bottle-image.png" alt="butelka actimel"/>
      </div>
      <div class="actimel-imgs__item">
          <img src="/resources/images/instax-home-image.png" alt="aparat instax"/>
      </div>

      <div class="clock__wrapper" data-time="{{currentDate}}" data-start="{{pausedTill}}">
          <p class="shadow-blue--small">Start loterii za:</p>
          <div class="clock"></div>
          <br><p class="lottery-info">Loteria będzie otwarta codziennie<br>od 10:00 do 19:00<br>od dnia {{ startDate }}</p>
      </div>
    </div>
    
    
  </div>
</section>


{% include 'templates/page/parts/section-prize.html.twig' %}
{% include 'templates/page/parts/section-new-flavor.html.twig' %}

{% endblock body %}
