{% extends "templates/base.html.twig" %}
{% block title 'Polityka prywatności - ' ~ parent() %}

{% block body %}

<section class="section section--width-2 ready-section privacy-policy">
    {% include 'templates/page/parts/fixed-bg-images.html.twig' %}
    
    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="header">
          <h3>
            <span class="shadow-blue">POLITYKA PRYWATNOŚCI</span>
          </h3>
          <h4>
              Oświadczenie o ochronie danych osobowych
          </h4>
          <p>Wstęp</p>
        </div>


        <p class="normal">
            Firma Danone ma świadomość tego, jak&nbsp;ważny jest dla&nbsp;Państwa sposób korzystania z&nbsp;Państwa danych osobowych oraz rozumie wagę ochrony Państwa prywatności.
        </p>

        <p class="normal">
            Administratorami Państwa danych osobowych jest Danone sp. z o.o. (ul. Redutowa 9/23, 01-103 Warszawa)
        </p>

        <p class="normal">
            Niniejsze Oświadczenie o ochronie danych osobowych wyjaśnia, jak spółki należące do grupy Danone, 
            w&nbsp;tym administrator Państwa danych osobowych (łącznie określane jako „Danone”) zbierają i&nbsp;zarządzają 
            Państwa danymi osobowymi. Zawiera informacje co do rodzaju zbieranych danych, sposobu ich wykorzystania, powodu, 
            dla którego są nam potrzebne i korzyściach dla Państwa z tego wynikających. Prosimy o kontakt pod adresem iod.danone@danone.com, jeśli mają Państwo pytania lub uwagi, lub jeśli pragną Państwo zgłosić żądanie co do przysługujących Państwu praw jako osoby, której dane dotyczą.
        </p>

        <p class="normal">
            Szczegółowe informacje dotyczące przetwarzania danych w ramach konkursu znajdują się w <a href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank"><span>Regulaminie Loterii<span class="underline"></a>.
        </p>

    </div>
</section>

{% endblock body %}
  