{% extends "templates/base.html.twig" %}
{% block title 'Nagroda odebrana - ' ~ parent() %}

{% block body %}
<section id="section-contact" class="section section--fixed-bg section--width-2">
    {% include 'templates/page/parts/fixed-bg-images.html.twig' %}

    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="header">
          <h3>
            <span class="content">Ta nagroda została już</span>
            <span class="shadow" aria-hidden="true">Ta nagroda została już</span>
          </h3>
          <h2>
            <span class="content">odebrana</span>
            <span class="shadow" aria-hidden="true">odebrana</span>
          </h2>
        </div>
  
        <div class="section__icon">
            <img src="/resources/images/icon-contact.svg" alt="kontakt" />
        </div>


        <p class="large">
          Sprawdź maila!
        </p>

        <p class="normal">
          Powiadomienie o odbiorze nagrody wysłaliśmy<br>na adres e-mail podany przez zwycięzcę.
        </p>
        <p class="normal">
          Pamiętaj, że każdy paragon za zakup Actimela to kolejna<br>szansa na wygraną. Spróbuj ponownie!
        </p>


        <div class="btn-wrapper">
          <div class="btn">
            <a href="/">Wróć do strony głównej</a>
          </div>
        </div>

        <p class="subtext">
          Masz pytanie związane z loterią?<br>
          Skontaktuj się z nami pod adresem <a href="mailto:kontakt@loteria.actimel.pl" target="_blank">kontakt@loteria.actimel.pl</a>.
        </p>


    </div>
</section>
{% endblock body %}
