{# nieużywany! uzyty fragment w lottery-form.html.twig #} 

{% extends "templates/base.html.twig" %}
{% block title 'Wygrywasz aparat - ' ~ parent() %}


{% block body %}
<section id="homeWin" class="section congrats">
  <div class="container">
    {% include 'templates/page/parts/logo.html.twig' %}

    <div class="head-text">
      <p>GRATULACJE</p>
      <p class="shadow-blue">WYGRYWASZ INSTAXA MINI 9</p>
    </div>
    <div class="img-wrapper">
      <div class="img-wrapper__item">
          <img src="/resources/images/instax-home-image.png" alt="aparat instax"/>
      </div>
    </div>
    <div class="instax-prize-info">
      <p>Lato właśnie nabrało nowego smaku!</p>
      <p>Uwieczniaj piękne chwile razem z Actimelem.</p>
    </div>
    <div class="prize-collect-info">
      <p>Aby odebrać nagrodę, kliknij poniżej - poprosimy Cię o dane adresowe niezbędne do wysyłki aparatu.</p>
    </div>
    <div class="btn-wrapper">
      <div class="btn">
        <a href="" id="collectPrize js-data-ga" data-ga-act="Klikniecie Odbieram nagrode" data-ga-cat="Wynik losowania">ODBIERZ NAGRODĘ</a>
      </div>
    </div>
    <div class="lottery-date-info">
      <p>A już <strong>23 lipca 2019r.</strong></span> Twoje zgłoszenie weźmie udział w losowaniu nagrody głównej - vouchera na skuter Vespa!</p>
    </div>
  </div>
</section>

{% endblock body %}
