{% extends "templates/base.html.twig" %}
{% block title 'Nagroda przepadła - ' ~ parent() %}

{% block body %}
<section id="section-contact" class="section section--width-2">

    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="header">
          <h3>
            <span class="content">Ta nagroda jest już</span>
            <span class="shadow" aria-hidden="true">Ta nagroda jest już</span>
          </h3>
          <h2>
            <span class="content">niedostępna!</span>
            <span class="shadow" aria-hidden="true">niedostępna!</span>
          </h2>
        </div>
  
        <div class="section__icon">
            <img src="/resources/images/sad-face.svg" alt="niedostępna" />
        </div>

        <p class="normal">
          Niestety, nie wypełniłeś Formularza Zwycięzcy w&nbsp;terminie.<br>
          Nagroda wróciła do puli nagród loteryjnych.
        </p>
        <p class="normal">
          Ale wciąż masz szansę!<br>
          <b>23&nbsp;lipca 2019&nbsp;r.</b> Twoje zgłoszenie weźmie też udział w&nbsp;losowaniu nagrody głównej - vouchera na skuter Vespa.
        </p>
        <p class="normal">
          Listę zwycięzców opublikujemy na stronie. Zwycięzcy otrzymają też od nas maila z&nbsp;informacją o&nbsp;wygranej.
        </p>


        <div class="btn-wrapper">
          <div class="btn">
            <a href="/">Wróć do strony głównej</a>
          </div>
        </div>

        <p class="subtext">
          Masz pytanie związane z loterią?<br>
          Skontaktuj się z nami pod adresem <a href="mailto:kontakt@loteria.actimel.pl">kontakt@loteria.actimel.pl</a>.
        </p>


    </div>
</section>
{% endblock body %}
