{% extends "templates/base.html.twig" %}
{% block title 'Gotowe! - ' ~ parent() %}

{% block body %}

<section id="readySection" class="section section--width-2 ready-section">
    {% include 'templates/page/parts/fixed-bg-images.html.twig' %}
    
    <div class="container">
        {% include 'templates/page/parts/logo.html.twig' %}

        <div class="header">
          <h3 class="large">
            <span class="content">Wszystko</span>
            <span class="shadow" aria-hidden="true">Wszystko</span>
          </h3>
          <h2 class="large">
            <span class="content">gotowe!</span>
            <span class="shadow" aria-hidden="true">gotowe!</span>
          </h2>
        </div>


        <p class="normal">
          Już niedługo spakujemy i&nbsp;wyślemy do Ciebie nagrodę. Uzbrój się w&nbsp;odrobinę cierpliwości i&nbsp;pamiętaj, by zachować paragon.
        </p>

        <p class="normal">
          Wciąż masz też szansę wygrać nagrodę główną - <strong>voucher na skuter Vespa</strong>. Losowanie już <strong>23.07.2019</strong> roku!
        </p>

    </div>
</section>

      {% include 'templates/page/parts/section-new-flavor.html.twig' %}

{% endblock body %}
