{% extends "templates/base.html.twig" %}
{% block title 'Spróbuj ponownie - ' ~ parent() %}

{% block body %}

<section id="homeLost" class="section try-again">
  <div class="container">
    {% include 'templates/page/parts/logo.html.twig' %}
      
    <div class="head-text">
      <!-- <p class="shadow-blue">OJ, TYM RAZEM SIĘ</p>
      <p>NIE UDAŁO</p> -->
      <div class="head-text__img">
        <img src="/resources/images/try_again_header.png" alt="oj, tym razem się nie udało"/>
      </div>
    </div>
    <div class="img-wrapper">
      <div class="img-wrapper__item">
        <img src="/resources/images/smile.svg" alt="uśmiechnięta buźka"/>
        <img src="/resources/images/icon-shadow.png" alt="cień" />
      </div>
    </div>
    <div class="still-chance">
      <p>Ale wciąż masz szansę! <strong>Codziennie</strong> do wygrania jest <strong>14 aparatów Instax Mini 9.</strong></p>
      <p>Wystarczy, że zgłosisz kolejny paragon</p>
    </div>
    <div class="lottery-date-info">
      <p><strong>23 lipca 2019r.</strong> Twoje zgłoszenie weźmie też&nbsp;udział w&nbsp;losowaniu nagrody głównej -&nbsp;vouchera na skuter Vespa!</p>
    </div>
    <div class="winners-info">
      <p>Listę zwycięzców opublikujemy na stronie actimel.pl.</p>
      <p>Zwycięzcy otrzymają od nas maila z informacją o wygranej.</p>
    </div>
  </div>
</section>
      
{% include 'templates/page/parts/section-new-flavor.html.twig' %}

{% endblock body %}
