{% extends "templates/base.html.twig" %}
{% block title 'Formularz zwycięzcy w loterii - ' ~ parent() %}

{% block body %}

{# {{ form_widget(form._token) }} #}

{% if isFilled is defined and isFilled %}

  {% include 'templates/page/parts/prize-collected-content.html.twig' %}

{% elseif isExpired is defined and isExpired %}

  {% include 'templates/page/parts/prize-lost-content.html.twig' %}

{% else %}

<section class="form form--winner section section--fixed-bg">
  {% include 'templates/page/parts/fixed-bg-images.html.twig' %}

  <div class="container">
      {% include 'templates/page/parts/logo.html.twig' %}

      <div class="steps-wrapper">
        <div class="step step1">
          <span>1. Wgraj paragon</span>
          <div class="arrow-right"></div>
        </div>
        <div class="step step2">
            <span>2. Podaj adres</span>
        </div>
      </div>
      <div class="step--one">
        <div class="main-text">
          <p class="shadow-blue">PRZEŚLIJ ZDJĘCIE</p>
          <p>PARAGONU</p>
        </div>
      </div>
      <div class="step--two hide">
        <div class="main-text">
          <p>UZUPEŁNIJ</p>
          <p class="shadow-blue">DANE</p>
        </div>
      </div>

      <form>

          <div class="step--one ">
            <div class="form-info">
              <p>Załącz zdjęcie zwycięskiego paragonu w&nbsp;celu weryfikacji wygranej.</p>
            </div>
          </div>
          <div class="step--two hide">
            <div class="form-info">
              <p>Nagroda zostanie wysłana pod adres, który wpiszesz poniżej.</p>
            </div>
          </div>
   
          <fieldset>
           <div class="step--one "> 
            <div class="form__input-wrapper--file">
              <div class="img-bg">
                <div class="file-error ">
                  <p>Nie wybrano pliku</p>
                </div>
                <div class="btn-upload-wrapper">
                  <input type="file" name="fileUpload" accept=".jpg, .jpeg, .png" />
                  <div class="btn-upload">Wybierz plik</div>
                </div>
              </div>
              <div class="filesize-info">
                <p>Maksymalna wielkość pliku to 7MB.</p>
              </div>
            </div>

            <div class="disclaimer">
              <p>
                  Możesz też przesłać zdjęcie później. 
                  Na Twoją skrzynkę mailową wysłaliśmy mail potwierdzający z&nbsp;linkiem do&nbsp;formularza. Ale uważaj! Masz tylko 5 dni - potem Twoja nagroda przepadnie.
              </p>
            </div>
                   
            <div class="form__btn-wrapper">
              <div class="btn">
                  <button id="proceed">PRZEJDŹ DALEJ</button>
              </div>
            </div>

            <div class="go-back-link-wrapper">
                <a href="/">
                  <img src="/resources/images/arrow-back-icon.svg"/>
                  <span>Wróć do strony głównej</span>
                </a>
            </div>
           </div>
           <div class="step--two hide">
            <div class="form__input-wrapper">
                <label for="firstname" >Imię</label>
                <input type="text" name="firstname" required autocomplete="on">
                <span class="placeholder">Mariusz</span>
            </div>

            <div class="form__input-wrapper">
                <label for="lastname" >Nazwisko</label>
                <input type="text" name="lastname" required autocomplete="on">
                <span class="placeholder">Kowalski</span>
            </div>

            <div class="form__input-wrapper">
                <label for="address" >Adres</label>
                <input type="text" name="address" required autocomplete="on">
                <span class="placeholder">ul. Kościuszki 21</span>
            </div>

            <div class="form__inputs">
                <div class="form__input-wrapper">
                    <label for="zipCode" >Kod pocztowy</label>
                    <input type="text" name="zipCode" required autocomplete="on">
                    <span class="placeholder placeholder--half-left">14-218</span>
                </div>
                <div class="form__input-wrapper">
                    <label for="city" >Miasto</label>
                    <input type="text" name="city" required autocomplete="on">
                    <span class="placeholder placeholder--half-right">Kraków</span>
                </div>
            </div>

            <div class="disclaimer">
              <p>
                Administratorem jest Danone Sp.&nbsp;z&nbsp;o.o. z siedzibą w Warszawie (01-103), 
                ul.&nbsp;Redutowa&nbsp;9/23. Szczegółowe informacje dotyczące przetwarzania danych znajdują się w&nbsp;Regulaminie
              </p>
            </div>

            <div class="checkbox-wrapper">
                <div class="checkbox-wrapper--inner">
                    <div class="checkbox">
                        <input type="checkbox" name="agreement1" value="">
                        <span class="checkmark"></span>
                    </div>
                    <label>
                        Akceptuję <a  href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank">Regulamin loterii</a>.
                    </label>
                </div>
            </div>    

            <div class="form__btns-wrapper">
                <div class="btn">
                    <button id="goBack">WRÓĆ</button>
                </div>
              <div class="btn">
                  <button >WYŚLIJ</button>
              </div>
            </div>

            <div class="go-back-link-wrapper">
                <a href="/">
                  <img src="/resources/images/arrow-back-icon.svg"/>
                  <span>Wróć do strony głównej</span>
                </a>
            </div>
           </div>  
          </fieldset> 
      </form>
  </div>
    
</section>
{% endif %}
         
   
{% endblock body %}
