<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Kup dowolny produkt Actimel, podaj dane z paragonu i weź udział w loterii. Do wygrania voucher na skuter Vespa oraz codziennie 14 aparatów Instax." name="description">
  <meta content="Actimel, loteria, konkurs, nagrody, Instax, Instax Mini 9, skuter, Vespa" name="keywords">
  <meta content="IE=11" http-equiv="X-UA-Compatible" />
  {#
  <!-- <link rel='shortcut icon' type='image/x-icon' href='{{ asset('resources/images/favicon.ico') }}' /> -->
  #}
  <title>
    {% block title %}Actimel 2019{% endblock %}
  </title>
  {% block stylesheets %}
  
    <link rel="stylesheet" href="/resources/styles/main.css" /> 
  
    <link rel="stylesheet" href="https://use.typekit.net/mee0hrr.css">
  {% endblock %}
  

  {% if app.request.cookies.get('prv')|slice(1, 1) == 1 %} {# cookies analityczne #}
  
    <!-- Global site tag (gtag.js) - Google Marketing Platform -->
    
    <!-- End of global snippet: Please do not remove -->
  {% endif %}

  {% if app.request.cookies.get('prv')|slice(3, 1) == 1 %} {# cookies targetujące #}
   


  {% endif %}

  {% block head %}{% endblock %}  {# for tracking event snippets on particular pages #}


</head>
<body>

  {# {% if app.request.cookies.get('prv')|slice(3, 1) == 1 %} <!-- cookies targetujące --> #}
    <!-- Google Tag Manager (noscript) -->

    <!-- End Google Tag Manager (noscript) -->
  {# {% endif %} #}

  
  {% include 'templates/page/parts/preloader.html.twig' %}
  
  {% block body %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="container">
      <div class="visit-us">
        <div class="visit-us__text">
          <p>Odwiedź nas na</p>
        </div>
        <div class="visit-us__imgs">
          <div>
            <a href="https://www.facebook.com/actimelpolska/" target="_blank">
              <img src="/resources/images/facebook-icon.svg" alt="facebook"/>
            </a>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UCooFvdqJRE8hMpI5koVDyvA" target="_blank">
              <img src="/resources/images/youtube-icon.svg" alt="youtube"/>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/actimel_pl/" target="_blank">
              <img src="/resources/images/instagram-icon.svg" alt="instagram"/>
            </a>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="footer-nav-links">
        <a href="/resources/files/Regulamin_Actimel_Loteria.pdf" target="_blank"><span>Regulamin loterii<span class="underline"></span></span></a>
        <a href="/polityka-prywatnosci" ><span>Polityka prywatności<span class="underline"></span></span></a>
        <a href="https://www.actimel.pl" ><span>Przejdź na Actimel.pl<span class="underline"></span></span></a>
        <a href="/kontakt" ><span>Kontakt<span class="underline"></span></span></a>
      </div>
      <div class="line line--bottom"></div>
      <div class="copyright">&copy;2019 Danone</div>
    </div>
  </footer>

  {% include 'templates/page/parts/cookies-panel.html.twig' %}

  {% endblock %}
  
  {% block javascripts %}
     <script src="/resources/scripts/bundle.js"></script>
  {% endblock %}
  
</body>

</html>